.mobile-nav
  ul
    li: a(href="#") About
    li: a(href="#") Work
    li: a(href="#") Contact

header
  .header-position
    h1.logo Jake Ninness
    nav.site-nav
      ul
        li: a(href="#") About
        li: a(href="#") Work
        li: a(href="#") Contact
    
    .mobile-nav-toggle: span
    
