@import "bourbon/bourbon";
@import "normalize";
@import "fonts";
@import "header";
@import "home";


$primary-color: #F6C;
$text-color: #302e3c;
$accent-color: #000;
$bg-color: #fff;
$link-color: $accent-color;
$selection-color: #FFF498;

body {
  background: #1500A2;
  box-sizing: border-box;
  font-family: 'Fira Sans' sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  color: lighten($link-color, 20%);
}
